/*

  RESETS

*/

html,
body,
div,
h1,
p,
a,
video {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
hr {
  border: 0;
  height: 2px;
  background: #333;
  background-image: linear-gradient(to right, #203C38, #546431, #203C38);
}
p {
  font-size: 16px;
}

/*

  HTML TAGS

*/

footer {
  position: relative;
  z-index: 2;
  background-color: #F8F8F8;
  padding: 1px 0;
  color: white;
}
video {
  margin: 0;
  padding: 0;
  max-height: 2000px;
}
a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
  color: #3F51B5;
}
section {
  padding: 100px 0;
}
 textarea {
   color: black;
 }
 button {
   font-size: 2em;
   color: white;
   border: none;
   padding: 0px;
   background-color: rgba(0,0,0,0);
 }

 /*

   MAIN CLASSES

 */

.bg-primary {
  background-color: #203C38;
  color: white;
}
.bg-secondary {
  background-color: #00aeef;
  color: white;
}
.bg-tertiary {
  background-color: #353535;
  color: white;
}
.bg-footer {
  background-color: #373737;
}
.bg-white-opaque {
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  padding: 30px;
}
.bg-white {
  background-color: white;
}
.bg-opaque {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  padding: 30px;
  }
.bg-main {
  background-image: url("img/iiclbmain.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-impact {
  background-image: url("img/iiclbimpact.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.divider {
  margin-top: 800px;
}
.lg-section {
  padding: 100px 0 200px 0;
}
.no-padding {
  padding: 0;
}
.space-out {
  padding: 0 30px 0 30px;
}
.card {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.card-1 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.main-header {
  color: white;
  position: relative;
  top: 35%;
  z-index: 2;
  margin: 0 auto;
  max-width: 1000px;
  text-align: center;
}
header h1 {
  font-size: 4em;
}
header p {
  font-size: 1.5em;
}
.row {
  margin: 0;
  padding: 0;
}
.gradient-bg {
  background: linear-gradient(to bottom, #CBE4BD , #203C38); /* linear-gradient(to bottom, #e0e978 , #3a553f); */
  color: black;
}
.full-height {
  height: 84vh;
}
.full-height-browser {
  height: 100vh;
}
.full-height-extra {
  height: 150vh;
}
.half-height {
  height: 50vh
}
.center-page {
  position: relative;
  top: 5%;
  z-index: 2;
  margin: 0 auto;
  padding: 40px;
  max-width: 1000px;
  text-align: center;
}
.vertical-center {
  padding: 6% 0 0 0;
}
.social {
  filter: grayscale(100%);
}
.social:hover {
  filter: grayscale(0%);
  box-shadow: 0 14px 28px rgba(0,0,0,0.8), 0 10px 10px rgba(0,0,0,0.8);
}
.social-header {
  background-color: rgba(0, 0, 0, 0);
  margin: 0px -14px 0 -14px;
}
@media (max-width: 768px) {
  .social-header {
    background-color: rgba(0, 0, 0, 0.4);
    margin: 0px -14px 0 -14px;
  }
}



/*

  THEME SPECIFIC

*/

@media (max-width: 768px) {
  .bg-main h1 {
    font-size: 2em;
  }
  .bg-main p {
    font-size: 1.2em;
  }
}


.button1 {
  background-color: rgba(46, 64, 148, 0.5);
  padding-top: 15px;
  padding-bottom: 15px;
}
.button1:hover {
  background-color: rgba(46, 64, 148, 1);
}
.button2 {
  background-color: rgba(38, 195, 232, 0.7);
  padding-top: 15px;
  padding-bottom: 15px;
}
.button2:hover{
  background-color: rgba(38, 195, 232, 1);
}
.button3 {
  background-color: rgba(252, 178,62, 0.7);
  padding-top: 15px;
  padding-bottom: 15px;
}
.button3:hover {
  background-color: rgba(252, 178,62, 1);
}
.button4 {
  background-color: rgba(55, 117, 175, 0.7);
  padding-top: 15px;
  padding-bottom: 15px;
}
.button4:hover {
  background-color: rgba(55, 117, 175, 1);
}


@media (max-width: 768px){
  .button1 {
    background-color: rgba(46, 64, 148, 0.5);
    margin: 0px -45px;
  }
  .button2 {
    background-color: rgba(38, 195, 232, 0.7);
    margin: 0px -45px;
  }
  .button3 {
    background-color: rgba(252, 178,62, 0.7);
    margin: 0px -45px;
  }
  .button4 {
    background-color: rgba(55, 117, 175, 0.7);
    margin: 0px -45px;
  }
}

.buttonDonate {
  width:90px;
  height:90px;
  display:inline-block;
  font-family:Arial, "Helvetica", sans-serif;
  font-size:16px;
  font-weight:bold;
  color:#fff;
  text-decoration:none;
  text-transform:uppercase;
  text-align:center;
  text-shadow:1px 1px 0px #07526e;
  padding-top:7px;
  margin-left:auto;
  margin-right:auto;
  left:0px;
  position:relative;
  cursor:pointer;
  border: none;
  background: #109bce;
  background-image: linear-gradient(bottom, rgb(14,137,182) 0%, rgb(22,179,236) 100%);
  border-radius: 5px;
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #07526e, 0px 10px 5px #999;
}
.buttonDonate:active {
  top:3px;
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #07526e, 0px 5px 3px #999;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.impact-box1 {
 background-color: rgba(0,0,0,0.7);
 color: white;
 padding: 50px 0 50px 0;
 margin: 50px 0 50px 0;
}

.impact-box2 {
  background-color: rgba(0,0,0,0.7);
  color: white;
  padding: 50px 0 50px 0;
  margin: 50px 0 50px 0;
}
.impact-box3 {
  background-color: rgba(0,0,0,0.7);
  color: white;
  padding: 50px 0 50px 0;
  margin: 50px 0 50px 0;
}


.impact-box {
    position: relative;
}

.impact-box::before,
.impact-box::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    border-color: transparent;
    border-style: solid;
}

.impact-box1::after {
    border-radius: 0.4em;
    border-width: 1.35em;
    border-right-color: rgba(38, 195, 232, 1);
    border-bottom-color: rgba(38, 195, 232, 1);
}
.impact-box2::after {
    border-radius: 0.4em;
    border-width: 1.35em;
    border-right-color: rgba(55, 117, 175, 1);
    border-bottom-color: rgba(55, 117, 175, 1);
}
.impact-box3::after {
    border-radius: 0.4em;
    border-width: 1.35em;
    border-right-color: rgba(252, 178,62, 1);
    border-bottom-color: rgba(252, 178,62, 1);
}

.portfolio-item {
    margin-bottom: 25px;
}

.footer-left {
  border-right: 2px white solid;
}
.footer-middle {
  border-right: 2px white solid;
  padding: 35px 0 35px 0;
}
.footer-right {
  border-right: 2px white solid;
  padding: 20px 0 60px 0;
}
@media (max-width: 1023px) {
  .footer-right {
    padding: 20px 0 20px 0;
  }

}



/*

  NAVBAR

*/

@media (min-width: 768px) {
  .mobile-only {
    display: none;
  }
}



.dropdown-menu li a {
  padding: 10px!important;
}

.navbar-toggle {
  margin-top: 50px;
  padding: 20px;
}
.navbar-toggle .icon-bar {
    border: 1px solid #353535;
}
.navbar-default li a {
  padding-top: 40px;
  padding-bottom: 40px;
}

.navbar-default {
  background-color: rgba(0,0,0,0);
  border: none;
  font-size: 1.5em;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.navbar-default .navbar-brand {
  color: #000000;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: black;
}
.navbar-default .navbar-text {
  color: #000000;
}
.navbar-default .navbar-nav > li > a {
  color: #000000;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #f9f9f9;
  background-color: #fcb23e;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #fcb23e;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: black;
  background-color: #fcb23e;
}
.navbar-default .navbar-toggle {
  border-color: #fcb23e;
  font-size: 2em;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: white;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #000000;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #000000;
}
.navbar-default .navbar-link {
  color: #000000;
}
.navbar-default .navbar-link:hover {
  color: black;
}

@media (min-width: 768px){
  .navbar-nav{
     margin: 0 auto;
     display: table;
     table-layout: fixed;
     float: none;
  }
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #000000;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #fcb23e;
  }
  .navbar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    margin: 0px;
    padding: 0px;
  }
  .navbar-toggle {
    margin: 0px;
    padding: 0px;
    border: none;
  }
  .center-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-opaque {
    background-color: rgba(0,0,0,0.7);
    margin-right: -20px;
    margin-left: -20px;
  }
  .navbar-nav li a:first-child {
    padding-top: none;
    padding-bottom: none;
  }
  .dropdown-menu li a {
    padding: 10px!important;
  }
  .buttonDonate {

  }
  .hide-mobile {
    display: none;
  }



}

@media (max-width: 1023px) {
  .navbar-nav li a:first-child {
      padding-top: auto;
      padding-bottom: auto;
      font-size: 0.8em;
  }
  .dropdown-menu li a {
    padding: 20px!important;
  }
  .footer-left {
    border: none;
    border-bottom: 2px solid white;
  }
  .footer-middle {
    border: none;
    border-bottom: 2px solid white;
  }
  .footer-right {
    border: none;
  }

}




/*

  NAVBAR WHEN SCROLLED DOWN

*/

.navbar-scrolld {
  margin-top: 10px;
  padding: 10px;
  height: 50px;
}
.brand-logo-scrolld {
  margin-bottom: 20px;
  height: 60px;
}
.brand-logo {
  margin-bottom: 20px;
}
/*

  MEDIA QUERIES

*/

@media only screen and (max-width : 767px) {

  .main-header {
    top: 18%;
  }

  header h1 {
    font-size: 2.5em;
  }
  header p {
    font-size: 1.5em;
  }

}


/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
